@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700i');

*{
  font-family: 'Fira Sans';
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  background: #cfcfcf;
}

header{
  width: 100%;
  height: 85px;
  background: #939393;
  background: -moz-linear-gradient(top, #939393 0%, #545454 100%);
  background: -webkit-linear-gradient(top, #939393 0%,#545454 100%);
  background: linear-gradient(to bottom, #939393 0%,#545454 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#545454',GradientType=0 );
  margin: 0;
  display: flex;
}

#main{
  height: 100vh;
}

.main-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 100%;
}

.main-background{
  background-image: url('../images/road.jpg');
  background-size: cover;
}

header h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  color: #efefef;
  display: inline-block;
}

.display-upload{
  display: inline-block;
}

.no-upload{
  display: none;
}

.body-upload{
  width: 100%;
  align-content: center;
}

.header-upload{
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
  text-align: right;
  height: 40px;
  margin-top: 20px;
}

.content-holder{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 45px;
}

.image-holder{
  display: inline-block;
  position: relative;
  width: 45%;
  min-height: 30%;
  height: auto;
  max-height: 55%;
  background-color: #ddd;
  box-shadow: 0px 0px 4px #222;
}

#image{
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0px 0px 2px #444;
}

.car-facts{
  display: block;
  width: 95%;
  height: auto;
  max-height: 42.5%;
  margin-top: 20px;
  background-color: #ddd;
  box-shadow: 0px 0px 4px #222;
  margin-left: auto;
  margin-right: auto;
}

.car-facts h2{
  font-size: 24px;
  margin-bottom: 2px;
}

.details{
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.results-holder{
  display: inline-block;
  min-height: 30%;
  height: auto;
  max-height: 55%;
  width: 45%;
  background-color: #ddd;
  box-shadow: 0px 0px 4px #222;
}

.components-holder{
  height: 100vh;
}

.results-holder h3{
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.result{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 40px;
  background-color: #FED750;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px #222;
  border: 1px solid #cdcdcd;
}

.result:hover{
  background-color: #fcdc71;
}

.result:active{
  background-color: #ffe48c;
}

.result h2{
  width: auto;
  margin: 0;
}

.logo{
  margin-top: 7px;
  margin-left: 15px;
  height: 80%;
}

.loading-image{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 50px;
}

.landing-page{
  display: inline-block;
  width: 100%;
}

.selected-general{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.selected-content{
  height: 100%;
  display: inline-block;
  width: 65%;
  margin: 0;
}

.years-container{
  display: inline-block;
  width: 80%;
}

.info-container{
  display: inline-block;
  width: 90%;
}

.selected-image-container{
  display: inline-block;
  position: relative;
  height: 100%;
  display: inline-block;
  width: 30%;
}

.selected-image{
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 95%;
  max-height: 95%;
  background-color: #bcbcbc;
  border: 2px solid #cdcdcd;
  box-shadow: 0px 0px 2px #555;
}

.selected-image img{
  margin-top: 2%;
  width: 90%;
}

#fileInput{
  height: 0;
  width: 0;
}

#fileInput:focus{
  outline:none;
}

#upload-photo-label {
  border: 2px solid #cdcdcd;
  background-color: #FED750;
  padding: 11.5px 40px;
  font-size: 13px;
  margin-right: 0px;
  margin-top: 5px;
  vertical-align: middle;
  box-shadow: 0px 0px 4px #555;
  color: #444;
}

#upload-photo-label:hover{
  background-color: #fcdc71;
}

#upload-photo-label:active{
  background-color: #dcdcdc;
  outline:none;
}

#upload-photo-label:focus{
  background-color: #ffe48c;
  outline: none;
}

#uploaded{
  background-color: #dcdcdc;
  padding: 11.5px 40px;
  font-size: 13px;
  margin-right: 0px;
  margin-top: 5px;
  vertical-align: middle;
  box-shadow: 0px 0px 4px #555;
  color: #444;
}

#uploaded:hover{
  background-color: #fcdc71;
}

#submit-btn{
  vertical-align: middle;
  background-color: #FED750;
  font-size: 14px;
  color: #444;
  height: 45.5px;
  width: 120px;
  border-style: solid;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 0px 4px #555;
}

#submit-btn:hover{
  background-color: #fcdc71;
}

#submit-btn:active{
  background-color: #ffe48c;
}

#submit-btn:disabled{
  background-color: #bbb;
  color: #ddd;
  border: 2px solid #cdcdcd;
}

#submit-btn:focus{
  outline: none;
}

.video-bg {
  width: 100%;
  position: relative;
  z-index: 0;
}

.overlay{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index:1;
  color: white;
  background-color: #ddd;
  background-color: rgba(155, 155, 155, 0.79);
  box-shadow: 0px 0px 4px #222;
  height: 22%;
}

.video {
  width: 100%;
  height: 100%;
}
